# Agent
langchain
langchain-openai

# Backend
fastapi[standard]
uvicorn

# Data
pydantic
sqlmodel
sqlalchemy
psycopg[binary]
httpx
python-dotenv

# Memory
langgraph-checkpoint-postgres

# Postgresql - migration
alembic
